{% define "template/footer.html" %}
<footer>
    <div class="container">
        <p class="float-right">
            <a href="#">回到顶部</a></p>
        <p>欢迎加入字幕组交流群
            <a href="https://jq.qq.com/?_wv=1027&k=5MphDXw" target="_blank" class="badge badge-primary my-2">QQ群</a>
        <p>Copyright @Dorarv dorarv.club 这里填写什么 </p>
    </div>
</footer>
<script src="https://www.dollarkiller.com/lib/js/jquery-3.2.1.slim.min.js"></script>
<script src="https://www.dollarkiller.com/lib/js/popper-1.12.9.min.js"></script>
<script src="https://www.dollarkiller.com/lib/js/bootstrap.min.js"></script>
{% end %}