{% define "template/header.html" %}
    <meta name="keywords" content="多啦A梦,蜡笔小新,新番,梦蓝字幕组">
    <meta name="description" content="梦蓝字幕组">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/style.css">
    <link rel="stylesheet" href="/static/lib/css/themecolor.css">
{% end %}