{% define "template/nav.html" %}
<header>
    <div class="collapse bg-light" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-11 py-4">
                    <h4 class="text-muted">关于</h4>
                    <p class="text-muted">
                        网站为梦蓝字幕组临时视频网站，由于流量等原因，会采取限制开放，如果您需要保存资源，请加入字幕组交流群群公告查看资源，或者去关注字幕组微博小兔子与大橙子，来关注我们。网站只提供蜡笔小新和哆啦A梦新番的更新，由于带宽有限，故只提供部分，其中蜡笔小新为990集开始，哆啦A梦新番为560集开始</p>
                    <a href="https://blog.dollarkiller.com" class="btn btn-dark d-sm-none">Blog</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-info box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>Dorarv</strong></a>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item">
                    <a class="nav-link p-2" href="https://blog.dollarkiller.com" rel="noopener">Blog</a></li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

{% end %}