{% define "home/home.html" %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>RabbitWeb梦蓝字幕组</title>
    {% template "template/header.html" %}
</head>

<body>
{% template "template/nav.html" %}
<main role="main">
    <section class="myheader jumbotron text-center">
        <div class="container">
            <img src="https://i.loli.net/2019/10/22/4VyXkJfnFhs9waQ.png" alt="梦蓝字幕组" style="max-width: 360px">

        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <h2 class="text-success" style="margin-bottom: 26px">哆啦A梦新番
                <a href="/video/doraemon">
                    <small class="small text-muted font-weight-light align-text-bottom float-right">More...</small>
                </a>
            </h2>
            <div class="row">

                <div class="col-md-12">
                    <div class="card card_default mb-4 box-shadow">
                        <a href="/video/doraemon">
                            <img class="card-img-top" alt="哆啦A梦新番"
                                 src="https://i.loli.net/2019/10/22/kJvl1HoT5uNKRB8.jpg">
                        </a>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/video/doraemon"
                                       target="_blank" class="btn btn-sm bg-danger text-white">查看专辑</a></div>
                                <small class="text-danger">梦蓝字幕组提供</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</main>

{% template "template/footer.html" %}
</body>

</html>


{% end %}