{% define "home/video.html" %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>RabbitWeb梦蓝字幕组</title>
    {% template "template/header.html" %}
    <script src="https://cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/dplayer/1.25.0/DPlayer.min.css"/>

    <script type="text/javascript" charset="utf-8"
            src="https://cdn.staticfile.org/hls.js/8.0.0-beta.3/hls.min.js"></script>
    <script type="text/javascript" charset="utf-8"
            src="https://cdn.staticfile.org/dplayer/1.25.0/DPlayer.min.js"></script>
    <style>
        .playerButton dd {
            float: left;
            /*margin: 6px 20px;*/
            padding: 8px 5px;
            margin: 2px 2px;
        }
    </style>
</head>

<body>
{% template "template/nav.html" %}
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <h2 class="text-success" style="margin-bottom: 26px">哆啦A梦新番

            </h2>
            <!-- Vue -->
            <div id="app">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card card_default mb-4 box-shadow">


                            <div id="dplayer"></div>


                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="card card_default mb-4 box-shadow">

                            <dl class="playerButton">
                                <dd>
                                    <button @click="player()" type="button" value="萨达所大所" class="btn btn-success">第1级</button>
                                </dd>

                            </dl>


                        </div>
                    </div>

                </div>
            </div>
            <!-- VueEnd -->
        </div>


    </div>
</main>

<script>
    let vue = new Vue({
        el: "#app",
        data: {},
        methods: {
            player: function () {
                let dp = new DPlayer({
                    container: document.getElementById('dplayer'),
                    video: {
                        url: 'https://localstoragegit.bilibilil.cf/test2/index.m3u8',
                        type: 'hls',
                    },
                    pluginOptions: {
                        hls: {
                            // hls config
                        },
                    },
                });
                console.log(dp.plugins.hls); // Hls 实例
            }
        },
        created: function () {
            let dp = new DPlayer({
                container: document.getElementById('dplayer'),
                video: {
                    url: 'https://localstoragegit.bilibilil.cf/test2/index.m3u8',
                    type: 'hls',
                },
                pluginOptions: {
                    hls: {
                        // hls config
                    },
                },
            });
            console.log(dp.plugins.hls); // Hls 实例
        }
    })
</script>


{% template "template/footer.html" %}
</body>

</html>


{% end %}